node_modules
vendor
.git
.env
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/storage
*.log
.dockerignore
Dockerfile
render.yaml
build.sh
storage/app/private
